@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --main-clr : #00E6F5;
  --main-dark-clr : #2B97B9;
  --purple-clr : #5B157C;
  --light-grey-clr : #D9D9D9;
  --transparent-grey-clr : rgba(217 217 217 / .2 );
  --medium-grey-clr : #CACACA;
  --dark-grey-clr : #7A7A7A;
}

body{
  font-family: 'Roboto', sans-serif;
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-attachment: fixed ;
}

.App{
  min-height: 100vh;
}